* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* html styling */
  html, body {
    height: 100%;
    background-color: rgb(226, 225, 213);
  }
/* position of the camera's name */
  #cameraname {
      position: absolute;
      left: 80vh;
      top: 10vh;
  }
/* styling for navbar */
.roverlinks {
    margin: 0;
    padding: 0;
    background-color: rgb(63, 61, 61);
    list-style-type: none;
    overflow: hidden;
    border-style: solid;
    border-bottom-color: grey;
}

.roverlinks a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.roverlinks a:hover {
    background-color: black;
}
/* styling for calender and dropdown div */
.camerabar {
    background-color: rgb(63, 61, 61);
    height: 92.5%;
    width: 25%;
    border-style: solid;
    border-right-color: grey;
}

#srchdiv {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45vh;
}

#srchbtn {
    background-color: rgb(63, 61, 61);
    border-style: solid;
    border-color: grey;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#srchbtn:hover {
    background-color: black;
}

#calenderdiv {
    border-style: solid;
    border-color: white;
    height: 150px;
    width: 150px;
    position: relative;
    left: 13vh;
    top: 6vh;
}

#dropdowndiv {
    border-style: solid;
    border-color: white;
    height: 150px;
    width: 150px;
    position: relative;
    left: 13vh;
    top: 25vh;
}
/* styling for the div which will house the camera */
.picturebox {
    border-style: solid;
    border-color: blue;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 30%;
    bottom: 25%;
}